<h1 class="title">Force</h1>
<hr/>

<p-tabMenu [model]="items"></p-tabMenu>
<p-dataTable [value]="abilities" expandableRows="true" #dt (onRowClick)="dt.toggleRow($event.data)" *ngIf="activeItem == 'table'" [rows]="15" [paginator]="true" [pageLinks]="5" [responsive]="true" [stacked]="stacked">
  <p-header>List of Abilities</p-header>
  <p-column field="name" header="Name" [sortable]="true" [filter]="true"></p-column>
  <p-column field="discipline" header="Discipline" [sortable]="true" [filter]="true"></p-column>
  <p-column field="order" header="Force Order" [sortable]="true" [filter]="true"></p-column>
  <p-column field="cost" header="Force Points"></p-column>
  <p-column field="casting_time" header="Casting Time" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}">
    <ng-template pTemplate="filter" let-col>
      <p-dropdown [options]="castingTimeOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
    </ng-template>
    <ng-template let-col let-item="rowData" pTemplate="body">
      <span>{{ item[col.field] | capitalize }}</span>
    </ng-template>
  </p-column>
  <p-column field="duration" header="Duration">
    <ng-template let-col let-item="rowData" pTemplate="body">
      <span>{{ item[col.field] | capitalize }}</span>
    </ng-template>
  </p-column>
  <p-column field="range" header="Range/Area" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}">
    <ng-template pTemplate="filter" let-col>
      <p-dropdown [options]="rangeOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
    </ng-template>
    <ng-template let-col let-item="rowData" pTemplate="body">
      <span>{{ item[col.field] | capitalize }}</span>
    </ng-template>
  </p-column>
  <ng-template let-ability pTemplate="rowexpansion">
    <div class="ui-g ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
      <div class="ui-g-2"></div>
      <div class="ui-g-8">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <div class="ui-grid-row">
              <div class="label">Discipline: {{ ability.discipline }}</div>
            </div>
            <div class="ui-grid-row">
              <div class="label">Force Order: {{ ability.order }}</div>
            </div>
            <div class="ui-grid-row">
              <div class="label">Cost: {{ ability.cost }} force points</div>
            </div>
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-grid-row">
              <div class="label">Target: {{ ability.target }}</div>
            </div>
            <div class="ui-grid-row">
              <div class="label">Range: {{ ability.range }}</div>
            </div>
            <div class="ui-grid-row">
              <div class="label">Damage: {{ ability.damage }}</div>
            </div>
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-grid-row">
              <div class="label">Casting Time: {{ ability.casting_time }}</div>
            </div>
            <div class="ui-grid-row">
              <div class="label">Concentration: {{ ability.conc ? 'Yes':'No' }}</div>
            </div>
            <div class="ui-grid-row">
              <div class="label">Duration: {{ ability.duration }}</div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="ui-grid-row" [innerHtml]="ability.description"></div>
      </div>
    </div>
  </ng-template>
</p-dataTable>

<div *ngIf="activeItem == 'selector'" style="padding: 5px 5px 5px 5px;">
  <p-multiSelect [options]="selectDisciplines" [(ngModel)]="selectedDisciplines" (onChange)="saveSelectedDisciplines()"></p-multiSelect>
  <div class="ui-grid ui-grid-responsive" *ngFor="let discipline of disciplines">
    <div class="panel-padding" *ngIf="selectedDisciplines.includes(discipline.name)">
      <p-panel [toggleable]="true">
        <p-header>
          {{ discipline.name }} | <small>{{ discipline.order }}</small>
        </p-header>
        <p>{{ discipline.description }}</p>
        <hr/>
        <p><strong><em>Focus.</em></strong> {{ discipline.focus }}</p>
        <p *ngFor="let ability of discipline.abilities">
          <strong><em>{{ ability.name }} ({{ ability.cost }} force points{{ ability.conc ? ', conc' : '' }}{{ !!ability.duration ? ', ' + ability.duration : '' }}).</em></strong> <span [innerHtml]="ability.description"></span>
      </p-panel>
    </div>
  </div>
</div>