<h1 class="title">Force</h1>
<hr/>

<div *ngIf="view === 'abilities'">
  <app-filter-input [(filter)]="filter" [filterOptions]="filterOptions"></app-filter-input>

  <div class="table-responsive col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Discipline</th>
          <th>Force Order</th>
          <th>Force Points</th>
          <th>Casting Time</th>
          <th>Duration</th>
          <th>Range/Area</th>
        </tr>
      </thead>
      <tbody *ngFor="let ability of pagedAbilities()" >
        <tr (click)="ability.visible = !ability.visible">
          <td>{{ ability.name }}</td>
          <td>{{ ability.discipline }}</td>
          <td>{{ ability.order }}</td>
          <td>{{ ability.cost }}</td>
          <td>{{ ability.casting_time | capitalize }}</td>
          <td>{{ ability.duration | capitalize }}</td>
          <td>{{ ability.range | capitalize }}</td>
        </tr>
        <tr *ngIf="ability.visible">
          <td colspan="7">
            <div class="col-6 offset-0 col-md-8 offset-md-2">
                <div class="row">
                  <h3>{{ ability.name }}</h3>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="label">Discipline: {{ ability.discipline }}</div>
                  </div>
                  <div class="col-4">
                    <div class="label">Force Order: {{ ability.order }}</div>
                  </div>
                  <div class="col-4">
                    <div class="label">Cost: {{ ability.cost }} force points</div>
                  </div>
                  <div class="col-4">
                    <div class="label">Target: {{ ability.target }}</div>
                  </div>
                  <div class="col-4">
                    <div class="label">Range: {{ ability.range }}</div>
                  </div>
                  <div class="col-4">
                    <div class="label">Damage: {{ ability.damage }}</div>
                  </div>
                  <div class="col-4">
                    <div class="label">Casting Time: {{ ability.casting_time }}</div>
                  </div>
                  <div class="col-4">
                    <div class="label">Concentration: {{ ability.conc ? 'Yes':'No' }}</div>
                  </div>
                  <div class="col-4">
                    <div class="label">Duration: {{ ability.duration }}</div>
                  </div>
                </div>
                <hr/>
                <div class="row" [innerHtml]="ability.description"></div>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="javascript:void(0);" (click)="page = page - 1">
        <i class="fal fa-fw fa-chevron-left"></i>
      </a>
    </li>
    <li class="page-item" *ngFor="let num of _.range(0, pages)" [class.active]="page === num">
      <a class="page-link" href="javascript:void(0);" (click)="page = num">{{ num + 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0);" (click)="page = page + 1">
        <i class="fal fa-fw fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>

<div *ngIf="view === 'disciplines'" style="padding: 5px 5px 5px 5px;">
  <p-multiSelect [options]="selectDisciplines" [(ngModel)]="selectedDisciplines" (onChange)="saveSelectedDisciplines()"></p-multiSelect>
  <div class="ui-grid ui-grid-responsive" *ngFor="let discipline of disciplines">
    <div class="panel-padding" *ngIf="selectedDisciplines.includes(discipline.name)">
      <p-panel [toggleable]="true">
        <p-header>
          {{ discipline.name }} | <small>{{ discipline.order }}</small>
        </p-header>
        <p>{{ discipline.description }}</p>
        <hr/>
        <p><strong><em>Focus.</em></strong> {{ discipline.focus }}</p>
        <p *ngFor="let ability of discipline.abilities">
          <strong><em>{{ ability.name }} ({{ ability.cost }} force points{{ ability.conc ? ', conc' : '' }}{{ !!ability.duration ? ', ' + ability.duration : '' }}).</em></strong> <span [innerHtml]="ability.description"></span>
      </p-panel>
    </div>
  </div>
</div>
