.links line {
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.ui-grid-row > .ui-grid-col-6 {
  padding: 5px;
}

p-growl .ui-growl-item {
  padding-top: 50px !important;
}