<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/home">Star Wars 5e</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="isActive('home')">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" [class.active]="isActive('carousing')">
        <a class="nav-link" routerLink="/carousing">Carousing</a>
      </li>
      <li class="nav-item" [class.active]="isActive('combat')">
        <a class="nav-link" routerLink="/combat">Combat</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Compendium
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown1">
          <a class="dropdown-item" [class.active]="isActive('force')" routerLink="/force">Force</a>
          <a class="dropdown-item" [class.active]="isActive('gadgets')" routerLink="/gadgets">Gadgets</a>
          <a class="dropdown-item" [class.active]="isActive('magical-items')" routerLink="/magical-items">Magical Items</a>
          <a class="dropdown-item" [class.active]="isActive('monster-manual')" routerLink="/monster-manual">Monster Manual</a>
        </div>
      </li>
      <li class="nav-item" [class.active]="isActive('map')">
        <a class="nav-link" routerLink="/map">Galaxy Map</a>
      </li>
    </ul>
    <a class="btn btn-primary" href="https://drive.google.com/drive/folders/0B_Ii2UyVgIWuVlhUQ1hJTWdCWEk?usp=sharing" target="_blank">
      Files&nbsp;
      <i class="fal fa-fw fa-external-link"></i>
    </a>
  </div>
</nav>

<router-outlet class="ui-g-12"></router-outlet>
