<div [style.font-size.px]="size.font_size">
  <div class="col row justify-content-between">
    <div>
      <h3 [style.font-size.px]="size.font_size+18">{{ monster?.name }}</h3>
      <em>
        <span>{{ _.capitalize(monster.type) }}, </span>
        <span *ngIf="monster.subtype">{{ _.capitalize(monster.subtype) }}, </span>
        <span>{{ _.capitalize(monster.alignment) }}</span>
      </em>
    </div>
  </div>

  <hr/>

  <div class="col row text-center">
    <div class="col" *ngFor="let absc of abilityScores">
      <small>
        <strong>{{ absc.label }}</strong>
      </small>
      <br/>
      <span [style.font-size.px]="size.font_size+12">{{ getAbilityScoreModifier(absc.name).string }}</span>
    </div>
  </div>

  <hr/>

  <div class="col row text-center">
    <div class="col">
      <small>
        <strong>Challenge Rating</strong>
      </small>
      <br/>
      <span [style.font-size.px]="size.font_size+6">{{ getChallengeRating() }}</span>
    </div>
    <div class="col">
      <small>
        <strong>Size</strong>
      </small>
      <br/>
      <small [style.font-size.px]="size.font_size+6">{{ _.capitalize(monster.size) }}</small>
    </div>
    <div class="col">
      <small>
        <strong>Armor Class</strong>
      </small>
      <br/>
      <span [style.font-size.px]="size.font_size+6">{{ monster.armor_class }}</span>
    </div>
    <div class="col">
      <small>
        <strong>Hit Points</strong>
      </small>
      <br/>
      <small [style.font-size.px]="size.font_size+6">{{ getHP() }}</small>
    </div>
    <div class="col">
      <small>
        <strong>Speed</strong>
      </small>
      <br/>
      <small [style.font-size.px]="size.font_size+6">{{ monster.speed }}</small>
    </div>
  </div>

  <hr/>

  <div class="col row">
    <div class="col-4" *ngFor="let ability of abilities()">
      <small>
        <strong>{{ ability.name }}</strong>
      </small>
      <br>
      <small>{{ ability.value }}</small>
    </div>
  </div>

  <hr/>

  <div *ngFor="let actionList of actions()">
    <div class="col">
      <h5>{{ actionList.name }}</h5>
      <small class="action row" *ngFor="let action of actionList.value">
        <em class="col-3">
          <strong>{{ action.name }}</strong>
        </em>
        <span class="col-9">{{ action.desc }}</span>
      </small>
    </div>
    <hr/>
  </div>
</div>