<div class="ui-grid" [style.font-size.px]="size.font_size">
  <h1 [style.font-size.px]="size.font_size+18">{{ monster.name | capitalize }}</h1>
  <div class="ui-grid-row">
    <div class="ui-g-6 ui-md-2 center-text" *ngFor="let sc of ascores">
      <small><strong>{{ sc.toUpperCase() }}</strong></small>
      <h2 [style.font-size.px]="size.font_size+12">{{ monster.ability_scores[sc] }}({{ (score(monster.ability_scores[sc]) >= 0 ? '+' : '') + score(monster.ability_scores[sc]) }})</h2>
    </div>
  </div>
  <hr/>
  <div class="ui-grid-row center-text">
    <div class="ui-g-12 ui-md-1"></div>
    <div class="ui-g-6 ui-md-2">
      <small><strong>Challenge Rating</strong></small>
      <h3 [style.font-size.px]="size.font_size+6">{{ monsterManualService.GetChallenge(monster.challenge).label  }}</h3><small>({{ monsterManualService.GetChallenge(monster.challenge).xp }}xp)</small>
    </div>
    <div class="ui-g-6 ui-md-2">
      <small><strong>Size</strong></small>
      <h3 [style.font-size.px]="size.font_size+6">{{ _.capitalize(monster.size) }}</h3>
    </div>
    <div class="ui-g-6 ui-md-2">
      <small><strong>Armor Class</strong></small>
      <h3 [style.font-size.px]="size.font_size+6">{{ monster.armor_class }}</h3>
    </div>
    <div class="ui-g-6 ui-md-2">
      <small><strong>Hit Points</strong></small>
      <h3 [style.font-size.px]="size.font_size+6">{{ monsterManualService.GetHP(monster) }}</h3><small>({{ monster.hit_points }}d{{ monsterManualService.hit_die[monster.size].die }} + {{ monster.hit_points * score(monster.ability_scores.constitution) }})</small>
    </div>
    <div class="ui-g-6 ui-md-2">
      <small><strong>Speed</strong></small>
      <h3 [style.font-size.px]="size.font_size+6">{{ monster.speed }}</h3>
    </div>
  </div>
  <hr/>
  <div class="ui-grid-row">
    <div class="ui-g-6 ui-md-3" *ngIf="!monster.saving_throws.isEmpty()">
      <small><strong>Saving Throws</strong></small><br/>
      {{ monster.saving_throws.print() }}
    </div>
    <div class="ui-g-6 ui-md-3" *ngIf="!monster.skills.isEmpty()">
      <small><strong>Skills</strong></small><br/>
      {{ monster.skills.print() }}
    </div>
    <div class="ui-g-6 ui-md-3" *ngIf="!_.isEmpty(monster.damage_vulnerabilities)">
      <small><strong>Damage Vulnerabilities</strong></small><br/>
      {{ monster.damage_vulnerabilities | capitalize | commaSplit }}
    </div>
    <div class="ui-g-6 ui-md-3" *ngIf="!_.isEmpty(monster.damage_resistances)">
      <small><strong>Damage Resistances</strong></small><br/>
      {{ monster.damage_resistances | capitalize | commaSplit }}
    </div>
    <div class="ui-g-6 ui-md-3" *ngIf="!_.isEmpty(monster.damage_immunities)">
      <small><strong>Damage Immunities</strong></small><br/>
      {{ monster.damage_immunities | capitalize | commaSplit }}
    </div>
    <div class="ui-g-6 ui-md-3" *ngIf="!_.isEmpty(monster.condition_immunities)">
      <small><strong>Condition Immunities</strong></small><br/>
      {{ monster.condition_immunities | capitalize | commaSplit }}
    </div>
    <div class="ui-g-6 ui-md-3" *ngIf="!_.isEmpty(monster.senses)">
      <small><strong>Senses</strong></small><br/>
      {{ monster.senses }}
    </div>
    <div class="ui-g-6 ui-md-3" *ngIf="!_.isEmpty(monster.languages)">
      <small><strong>Languages</strong></small><br/>
      {{ monster.languages }}
    </div>
  </div>
  <div *ngIf="!_.isEmpty(monster.special_abilities)">
    <hr/>
    <h3 [style.font-size.px]="size.font_size+6">Special Abilities</h3>
    <div class="ui-grid-row" *ngFor="let abl of monster.special_abilities">
      <strong class="ui-g-2"><em>{{ abl.name }}.</em></strong>
      <span class="ui-g-12 ui-md-10" [innerHtml]="abl.desc | markdown"></span>
    </div>
  </div>
  <div *ngIf="!_.isEmpty(monster.actions) || !_.isEmpty(monster.abilities)">
    <hr/>
    <h3 [style.font-size.px]="size.font_size+6">Actions</h3>
    <div class="ui-grid-row" *ngFor="let abl of monster.abilities">
      <strong class="ui-g-2"><em>{{ abl.name }}.</em></strong>
      <span class="ui-g-12 ui-md-10" [innerHtml]="abl.desc | markdown"></span>
    </div>
    <div class="ui-grid-row" *ngFor="let act of monster.actions">
      <strong class="ui-g-2"><em>{{ act.name }}.</em></strong>
      <span class="ui-g-12 ui-md-10" [innerHtml]="act.desc | markdown"></span>
    </div>
  </div>
  <div *ngIf="!_.isEmpty(monster.legendary_actions)">
    <hr/>
    <h3 [style.font-size.px]="size.font_size+6">Legendary Actions</h3>
    <div class="ui-grid-row" *ngFor="let act of monster.legendary_actions">
      <strong class="ui-g-2"><em>{{ act.name }}.</em></strong>
      <span class="ui-g-12 ui-md-10" [innerHtml]="act.desc | markdown"></span>
    </div>
  </div>
</div>